
  .menu{
    background:#026890;
    width:100%;
    height:49px;
}
  .menu ul{
    margin:0px;
    padding:0px;
    list-style:none;
  }
  .menu ul li{
    float:left;
    border-right:1px solid #24478F;
    border-left:1px solid #4775D1;
    position:relative;
   
  }
  .menu ul li:first-child{border-left:0px solid #4775D1;}
  .menu ul li:first-child{border-right:0px solid #4775D1;}
  .menu ul li a{
     display:block;
   background:#026890;
    padding:13px 36px;
    text-decoration:none;
    color:#FFFFFF;
    font-weight: bold;
  }
  .menu ul li a:hover{
    background:#1C779B;
  }


  .logo{
    width:960px;
    height:85px;
    margin-top:10px;
    margin-bottom:10px;

  }
  .brand{
    width: 400px;
    float: left;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
  }
  .search{
     width:auto;
     float: right;
     margin-top: 27px;
     margin-right:-93px;
  }
  .box{
    width: 80%;
    margin-left: 10%;
    margin-top: 41px;
    box-shadow: 0px 0px 20px 0px #a9a9a9;
  }
  .nopad{
    padding:0px !important;
  }
  .menu ul li ul{
     position:absolute;
     left:-9999px;
     z-index:10000000;
 }
  .menu ul li:hover ul{left:0px;}
  .menu ul li ul li{
    float:none;
    border-top:1px solid #4775D1;
    border-bottom:1px solid #24478F;
    width:255px;
  }
  .menu ul li ul li a{
     display:block;
   background:#026890;
    padding:10px 20px;
    text-decoration:none;
    color:#FFFFFF;
    font-weight: bold;
  }
  .menu ul li ul li a:hover{}

  .slide-img{
    height:300px;
    width:100%;
  }
  .imgs{
    height:34px;
    width:35px;
    float:right;
  }

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
.media{
  width:100%;
  height:66px;
  margin-top: 20px;
  
}
.fb{
  margin:auto;
  float:right;
  width:34px;
  height:35px;
}
.twitter{
  width:auto;
  float:right;
   width:34px;
  height:35px;

}

.linkedin{
  width:auto;
  float:right;
   width:34px;
  height:35px;
}

.mail{
  margin:auto;
  float:right;
   width:34px;
  height:35px;
}
.post-container{
  display: inline-block;
    width: 29%;
    min-height: 437px;
    min-width: 300px;
    margin-top: 20px;
    margin-right: 19px;
    margin-left: 19px;
    padding: 30px 26px;
    border: 1px solid #1C779B;
    transition: box-shadow .5s ease;
    justify-content: center;
    -webkit-box-align: center;
    text-align: center;
    box-sizing: border-box;
   
}
.post-container:hover{
  box-shadow: 0px 0px 20px 0px #a9a9a9;
}
.background-img{
  height:142px;
  width:246px;
  margin-left:10px;
  text-align:center;
  background-image: url(../img/post.jpg);
}

.background-img1{
  height:142px;
  width:246px;
  margin-left:10px;
  text-align:center;
  background-image: url(../img/post1.jpg);
}
.background-img2{
  height:142px;
  width:246px;
  margin-left:10px;
  text-align:center;
  background-image: url(../img/post2.jpg);
}
.background-img3{
  height:142px;
  width:246px;
  margin-left:10px;
  text-align:center;
  background-image: url(../img/post3.jpg);
}
.background-img4{
  height:142px;
  width:246px;
  margin-left:10px;
  text-align:center;
  background-image: url(../img/post4.jpg);
}
.background-img5{
  height:142px;
  width:246px;

  text-align:center;
  background-image: url(../img/post5.jpg);
}

.collection{
  font-size: 21px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom:10px;
    text-align:center;
    font-weight: 300;
    font-family: Montserrat,sans-serif;
   text-transform: uppercase;
   color: #026890;
}
.descriptio{
  font-size: 13px;
  height:auto;
  line-height: 2em;
  text-align:center;
  margin-bottom:20px;
  margin-top:0px;
  font-family: Montserrat,sans-serif;
}
.btn-primary {
    color: #fff;
    background-color: #026890;
    border-color: #026890;
    width: 162px;
     text-transform: uppercase;
}
.media ul li:hover{
  transform:translateY(-5px);
}
.icon {
    border: 1px solid #bfbfbf;
    text-align: center;
    line-height: 35px;
    border-radius: 150px;
    margin-left: 10px;
}
.footer{
     height: 200px;
    margin-top:20px;
    background: #026890;
}
.text{
  text-align: center;
    margin-top:21px;
    border-bottom:1px solid #026890;
    color:white;

}
.copyright{
  height:50px;
  background:#014965;
  color:white;
}
.copy{
  padding:9px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
